///////////////////////////////////////////
// コンテンツエリア、フロートエリアなどの設定
///////////////////////////////////////////

// エリア１：//////////////////////////
// 状態アイコンのフロートスタイル
.float-area-state,
.ov-bg-h .float-area-state {
    grid-area: es-layer;
    @include flexCentering();
    padding: 10px;
    img {
        width: 100%;
        max-width: 320px;
        opacity: 0.15;
        @include mediaQuery() {
            height: 150px;
        }
    }
}
.ov-bg-h .float-area-state img {
    opacity: 0.1;
}
// 放射線マークのフロートスタイル
.float-area-radioactivity,
.ov-bg-h .float-area-radioactivity {
    grid-area: es-layer;
    @include flexCentering(flex-end, flex-start);
    padding: 15px 15px 0 0;
    font-size: 16px;
    img {
        width: 45px;
    }
}
// 元素記号のスタイル
.cont-area-element-symbol {
    grid-area: es-layer;
    padding: 0 0 20px 0;
    font-family: $fontEN;
    font-weight: 300;
    font-size: 165px;
    @include mediaQuery() {
        font-size: 130px;
    }
}
// 原子番号、周期、族のスタイル
.cont-area-atomic-weight,  // エリア４
.cont-area-atomic-num,
.cont-area-period,
.cont-area-group {
    @include flexCentering(flex-end, center);
    position: relative;
    top: -6px;
    padding: 0 10px;
    font-family: $fontEN;
    font-weight: 300;
    font-size: 45px;
    @include mediaQuery() {
        font-size: 35px;
    }
}

// エリア２：//////////////////////////
// 漢字のフォント
.cont-area-cn .kanji {
    font-family: $fontCN;
}
.cont-area-tw .kanji {
    font-family: $fontTW;
}
.cont-area-hk .kanji {
    font-family: $fontHK;
}
// 漢字のスタイル
.cont-area-cn,
.cont-area-tw,
.cont-area-hk {
    display: grid;
    grid-template-rows: auto auto;
    text-align: center;
    padding: 0 5px 25px;
    @include mediaQuery() {
        padding-bottom: 20px;
    }
    .kanji {
        font-size: 125px;
        @include mediaQuery() {
            font-size: 70px;
        }
    }
    .code-point {
        padding-top: 10px;
        font-family: $fontEN;
        font-weight: 200;
        font-size: 20px;
        opacity: 0.7;
        @include mediaQuery() {
            padding-top: 5px;
            font-size: 16px;
        }
    }
}

// エリア３：//////////////////////////
// 読みのスタイル
.cont-area-pinyin,
.cont-area-bopomofo {
    padding: 4px 7px 12px;
    white-space: nowrap;
    font-family: $fontPY;
    font-size: 20px;
}

// エリア４, エリア５：//////////////////////////
// グループ名と名称のスタイル
.cont-area-category,
.cont-area-japanese-name,
.cont-area-english-name {
    padding: 6px 7px 10px;
    font-size: 20px;
    @include mediaQuery() {
        font-size: 18px;
    }
}
.cont-area-japanese-name,
.cont-area-english-name {
    white-space: nowrap;
    @include mediaQuery($se) {
        white-space: normal;
    }
}
.cont-area-english-name {
    font-family: $fontEN;
    font-size: 22px;
    font-weight: 300;
    @include mediaQuery() {
        font-size: 20px;
    }
}

// エリア６：//////////////////////////
// 矢印ボタンのスタイル
.cont-area-change {
    @include flexCentering(space-between, center);
}
.arrow-back,
.arrow-forward {
    @include flexCentering(flex-start, center);
    border: 0px solid #fff;
    border-radius: 3px;  // border-radius(5px) - border(2px)
    cursor: pointer;
    &:active {
        > * {
            transform: translateY(2px);
        }
    }
    // 切り替え先の元素記号
    span {
        font-family: $fontEN;
        font-size: 50px;
        @include mediaQuery() {
            font-size: 35px;
        }
        span {
            font-size: 30px;
            @include mediaQuery() {
                font-size: 20px;
            }
        }
    }
    // 矢印アイコン
    ion-icon {
        font-size: 70px;
    }
    &.disabled {
        pointer-events: none;
        > * {
            opacity: 0.4;
        }
    }
}

// エリア７：//////////////////////////
// ツイート埋め込みscript実行前
blockquote {
    @include flexCentering(flex-start, center);
    height: 500px;
    opacity: 0.7;
}
// twitter公式が吐くクラス
.twitter-tweet {
    grid-row: cont;
    max-width: 500px !important;
    margin: 0 !important;
    width: 100% !important;
}

// エリア８：//////////////////////////
// 閉じるボタンのスタイル
.cont-area-close {
    cursor: pointer;
    padding: 15px;
    font-family: $fontEN;
    font-size: 20px;
}
