@charset "UTF-8";

.overlay-screen {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transition: background-color 1s; // .ov-bg-* より
}
.ov-container-box {
    position: relative;
    width: 100%;
    height: 100%;
    color: #fff;
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;
}
.fade-enter-active{
    transition: opacity ease .5s .3s;
}
.fade-leave-active {
    transition: opacity ease .5s;
}
.fade-enter,
.fade-leave-to {
    opacity: 0;
}

// バックグラウンド
@each $category in $categoryList {
    $categoryColor: nth($categoryColorList2, index($categoryList, $category));

    .ov-bg-#{$category} {
        background: #{$categoryColor};
        .sub-area-change {
            color: #{$categoryColor};
        }
    }
}

// コンテナ
$areaGap: 10px;
$areaBorder: 2px;

.ov-container {
    padding: 80px 10% 90px;
    display: grid;
    grid-template-areas:
    "elm knj"
    "elm rdn"
    "elm nam"
    "twi twi"
    "cls cls";
    grid-template-rows: repeat(6, auto);
    grid-template-columns: 5fr 6fr;
    @include gridGap($areaGap, $areaGap);
    @include mediaQuery(1150px) {
        padding: 80px 50px 90px;
    }
    @include mediaQuery($tablet) {
        padding: 80px 50px 90px;
        grid-template-areas:
        "elm"
        "nam"
        "knj"
        "rdn"
        "twi"
        "cls";
        grid-template-rows: repeat(8, auto);
        grid-template-columns: auto;
    }
    @include mediaQuery() {
        padding: 80px 15px 90px;
    }
}
.ov-container * {
    line-height: 100%;
}

// コンテナ内要素
.sub-area {
    display: grid;
    grid-template-rows:
        [label] auto
        [cont] auto;
    border: $areaBorder solid rgba(255, 255, 255, 0.5);
    border-radius: 5px;
    background: rgba(0, 0, 0, 0.2);
    transition-property: border-color, background-color, color;
    transition-duration: .5s;
}
.ov-bg-h .sub-area {
    border: $areaBorder solid rgba(0, 0, 0, 0.3);
    background: rgba(255, 255, 255, 0.4);
    color: #333;
}
.ov-bg-h .sub-area-change {
    background: rgba(255, 255, 255, 0.8);
}

.ov-bg-demo {
    .cont-area {
        padding: 10px 7px;
        font-family: $fontJP;
        font-weight: 300;
        font-weight: normal;
        font-size: 18px;
    }
    .cont-area-change .arrow-back span,
    .cont-area-change .arrow-forward span {
        padding: 0;
        font-family: $fontJP;
        font-weight: 300;
        font-size: 18px;
        @include mediaQuery($se) {
            font-size: 16px;
        }
    }
    .cont-area-atomic-num,
    .cont-area-period,
    .cont-area-group {
        top: 0;
    }
    .cont-area-cn,
    .cont-area-tw,
    .cont-area-hk {
        padding: 50px 0;
    }
    .cont-area-pinyin,
    .cont-area-bopomofo,
    .cont-area-category,
    .cont-area-japanese-name,
    .cont-area-english-name {
        white-space: normal;
    }
    .cont-area-tweet {
        height: 300px;
    }
}

// floatの設定
.float-area,
.ov-bg-h .float-area {
    border: none;
    background: none;
}
// labelの設定
.label {
    grid-row: label;
    @include flexCentering(flex-start, flex-start);
    opacity: 0.7;
    padding: 6px 9px 0;
    font-family: $fontEN;
    font-weight: 200;
    font-size: 23px;
    @include mediaQuery() {
        font-size: 20px;
    }
    span:first-child {
        padding-right: 6px;
    }
    span:last-child {
        display: inline-block;
        font-size: 17px;
        opacity: 0.7;
    }
}
// contの設定
.cont-area {
    grid-row: cont;
    position: relative;
    @include flexCentering();
}

// 閉じるボタン
.close-button {
    position: fixed;
    top: 20px;
    right: 50px;
    width: 50px;
    height: 50px;
    @include flexCentering();
    cursor: pointer;
    ion-icon {
        font-size: 50px;
        color: rgba(255, 255, 255, 0.9);
        filter: drop-shadow(0 0 10px rgba(0, 0, 0, 0.7));
    }
    &:hover {
        transform: scale(1.1);
    }
    transition: .3s;
    @include mediaQuery() {
        right: 20px;
    }
}

// 漢字コピーボタン
.kanji-copy-button {
    position: absolute;
    cursor: pointer;
    @include flexCentering();
    bottom: 0px;
    right: 0px;
    width: 0;
    height: 0;
    border-radius: 15px 0 3px 0;
    border: 16px solid rgba(255, 255, 255, 0.5);
    color: $colorWhite;
    font-size: 20px;
    transition: .5s;
    @include mediaQuery() {
        border-radius: 12px 0 3px 0;
        border: 12px solid rgba(255, 255, 255, 0.5);
        font-size: 14px;
    }
}
.ov-bg-h .kanji-copy-button {
    border: 16px solid rgba(0, 0, 0, 0.3);
    color: $colorWhite;
    @include mediaQuery() {
        border-radius: 12px 0 3px 0;
        border: 12px solid rgba(0, 0, 0, 0.3);
        font-size: 14px;
    }
}
