@charset "UTF-8";

.table-guide {
    grid-row: 1 / span 1;
    grid-column: 4 / span 8;
    color: $colorBlack;
}

.category-guide {
    display: grid;
    grid-template: repeat(4, 1fr) / repeat(4, 1fr);
    @include gridGap(1px, 10px);
    padding: 5px 12px;
    background: #e8e8e8;
    border-radius: 3px;
    .category-guide-cell:nth-child(4n+1) {
        grid-row: 1 / span 1;
    }
    .category-guide-cell:nth-child(4n+2) {
        grid-row: 2 / span 1;
    }
    .category-guide-cell:nth-child(4n+3) {
        grid-row: 3 / span 1;
    }
    .category-guide-cell:nth-child(4n) {
        grid-row: 4 / span 1;
    }
}

.category-guide-cell {
    display: grid;
    grid-template-columns: 22px auto;
    grid-column-gap: 5px;
    column-gap: 5px;
    line-height: 1.2;
    font-size: 13px;
    > * {
        @include flexCentering(flex-start, center);
    }
    .icon-cell {
        filter: drop-shadow(0 2px 1px rgba(0, 0, 0, 0.2));
        width: 20px;
        height: 20px;
        border-radius: 3px;
    }
}

@each $category in $categoryList {
    $categoryColor: nth($categoryColorList, index($categoryList, $category));

    .icon-#{$category} {
        background: $categoryColor;
    }
}
