/* フォントファミリー */
$fontEN: 'Blinker', sans-serif;
$fontJP: 'M PLUS Rounded 1c', sans-serif;
$fontTWPlus: 'Source Han Sans TW', 'make up for TW and HK', 'Source Han Sans CN', 'Noto Sans TC', sans-serif;
$fontCN: 'Source Han Sans CN', 'make up for CN', sans-serif;
$fontTW: 'Source Han Sans TW', 'make up for TW and HK', 'Source Han Sans CN', sans-serif;
$fontHK: 'Source Han Sans HK', 'make up for TW and HK', 'Source Han Sans CN', sans-serif;
$fontPY: 'pinyin and bopomofo', sans-serif;

/* 色 */
$colorMain1: var(--theme-color-main-1);
$colorMain2: var(--theme-color-main-2);
$colorMain2B: var(--theme-color-main-2b);
$colorMain3: var(--theme-color-main-3);
$colorMainA: var(--theme-color-main-a);

$colorAccent: rgba(255, 208, 0, 0.6);
$colorBase: #faf9f6;
$colorBaseA: rgba(247, 247, 247, 0.95);
$colorWhite: #fff;
$colorWhiteA: rgba(255, 255, 255, 0.7);
$colorBlack: #53554a;
$colorBlackA: rgba(83, 85, 74, 0.7);

$colorTwitter: #55acee;
$colorFacebook: #315096;
$colorLINE: #00c300;

/* カテゴリのリスト */
$a: 0.925;
$categoryList: 'h' 'he' 'li' 'be' 'b' 'c' 'n' 'o' 'f' 'ca' 'zn' 'fe' 'pt' 'la' 'ac' 'transition-metal';
$categoryColorList:
  rgb(255, 255, 255) rgb(20, 166, 219) rgb(218, 45, 111) rgb(190, 190, 190)
  rgb(170, 141, 22) rgb(155, 94, 40) rgb(138, 35, 175) rgb(17, 141, 122)
  rgb(184, 187, 0) rgb(206, 109, 45) rgb(218, 154, 16) rgb(192, 42, 42)
  rgb(150, 150, 150) rgb(77, 173, 13) rgb(65, 22, 207) rgb(100, 100, 100);
$categoryColorList2:
  rgba(255, 255, 255, $a) rgba(0, 100, 137, $a) rgba(133, 1, 51, $a) rgba(150, 150, 150, $a)
  rgba(76, 61, 0, $a) rgba(72, 33, 0, $a) rgba(69, 25, 86, $a) rgba(0, 80, 66, $a)
  rgba(135, 137, 1, $a) rgba(138, 56, 0, $a) rgba(190, 130, 0, $a) rgba(122, 0, 0, $a)
  rgba(89, 89, 89, $a) rgba(42, 105, 0, $a) rgba(24, 0, 98, $a) rgba(51, 51, 51, $a);

/* 関数 */
@mixin flexCentering($justify: center, $align: center) {
  display: flex;
  justify-content: $justify;
  align-items: $align;
}

@mixin gridGap($row, $col) {
  grid-row-gap: $row;
  row-gap: $row;
  grid-column-gap: $col;
  column-gap: $col;
}

$tablet: 1000px; // タブレット
$phone: 550px;   // スマートフォン
$se: 350px;      // iPhone SE
@mixin mediaQuery($breakpoint: $phone) {
  @media (max-width: ($breakpoint)) {
    @content;
  }
}

// フォントファミリーとその太さ
@mixin font($family, $weight: normal) {
  // 英語
  @if $family == en {
    font-family: $fontEN;
    @if $weight == bold {
      font-weight: 300;
    }
    @else {
      font-weight: 200;
    }
  }
  // 日本語
  @else if $family == jp {
    font-family: $fontJP;
    @if $weight == bold {
      font-weight: 500;
    }
    @else {
      font-weight: 300;
    }
  }
  // 台湾正体の拡張
  @else if $family == twplus {
    font-family: $fontTWPlus;
  }
  // 大陸簡体
  @else if $family == cn {
    font-family: $fontCN;
  }
  // 台湾正体
  @else if $family == tw {
    font-family: $fontTW;
  }
  // 香港繁体
  @else if $family == hk {
    font-family: $fontHK;
  }
  // ピンインと注音符号
  @else if $family == py {
    font-family: $fontPY;
  }
}
