/* フォントファミリー */
$fontEN: 'Blinker', sans-serif;
$fontJP: 'M PLUS Rounded 1c', sans-serif;
$fontTWPlus: 'Source Han Sans TW', 'make up for TW and HK', 'Source Han Sans CN', 'Noto Sans TC', sans-serif;
$fontCN: 'Source Han Sans CN', 'make up for CN', sans-serif;
$fontTW: 'Source Han Sans TW', 'make up for TW and HK', 'Source Han Sans CN', sans-serif;
$fontHK: 'Source Han Sans HK', 'make up for TW and HK', 'Source Han Sans CN', sans-serif;
$fontPY: 'pinyin and bopomofo', sans-serif;

/* 色 */
$colorMain1: var(--theme-color-main-1);
$colorMain2: var(--theme-color-main-2);
$colorMain2dark: var(--theme-color-main-2-dark);
$colorMain3: var(--theme-color-main-3);
$colorMainGrad: var(--theme-color-main-grad);

$colorAccent: #ffe266;
$colorBase: #faf9f6;
$colorBaseA: #faf9f6f2;
$colorWhite: #ffffff;
$colorWhiteA: #ffffffb3;
$colorBlack: #53554a;
$colorBlackA: #53554ab3;

$colorTwitter: #55acee;
$colorFacebook: #315096;
$colorLINE: #00c300;

/* カテゴリのリスト */
$categoryList: 'h' 'he' 'li' 'be' 'b' 'c' 'n' 'o' 'f' 'ca' 'zn' 'fe' 'pt' 'la' 'ac' 'transition-metal';
$categoryColorList:
  #ffffff #14a6db #da2d6f #bebebe
  #aa8d16 #9b5e28 #8a23af #118d7a
  #b8bb00 #ce6d2d #da9a10 #c02a2a
  #969696 #4dad0d #4116cf #646464;
$categoryColorList2:
  #ffffffec #14a6dbec #da2d6fec #bebebeec
  #aa8d16ec #9b5e28ec #8a23afec #118d7aec
  #b8bb00ec #ce6d2dec #da9a10ec #c02a2aec
  #969696ec #4dad0dec #4116cfec #646464ec;

/* ブレークポイント */
$tablet: 1000px; // タブレット
$phone: 550px;   // スマートフォン
$se: 350px;      // iPhone SE

/* その他 */
$headerHeight: 80px;
$headerHeightPhone: 50px;
$navOpenTime: 0.5s;
