/* text */
@use '@/assets/scss/global' as g;

.u-bold {
  @include g.font(ja, bold);
}

.u-marker {
  background: linear-gradient(transparent 70%, g.$colorAccent 70%);
}

.u-marker-bold {
  @include g.font(ja, bold);
  background: linear-gradient(transparent 70%, g.$colorAccent 70%);
}

.u-link {
  cursor: pointer;
  text-decoration: underline;
  transition: color 0.2s;
  &:hover {
    color: g.$colorBlackA;
  }
}

.u-zhtw {
  @include g.font(zhtw);
}

.u-zhcn {
  @include g.font(zhcn);
}

.u-tw {
  @include g.font(tw, bold);
}

.u-cn {
  @include g.font(cn, bold);
}
