@use '@/assets/scss/global' as g;

/* 読み込み完了前 */
.body-preload * {
  transition: none !important;
}

/* 埋め込みツイート */
.twitter-tweet {
  margin: 0 !important;
}

/* 埋め込みツイートの読み込み前 */
blockquote.twitter-tweet {
  flex: none;
  @include g.flexCentering();
  width: 100%;
  height: 500px;
  @include g.font(en, light);
  font-size: 20px;
  opacity: 0.7;
}
