/****** balloon-tip ******/
@use 'global' as *;

.balloon-tip {
  user-select: none;
  position: relative;
  font-size: 15px;

  &__beak {
    position: absolute;
    top: -5px;
    width: 0;
    height: 0;
    border-right: 7px solid transparent;
    border-bottom: 7px solid $colorMain2;
    border-left: 7px solid transparent;
  }

  &__content {
    display: grid;
    grid-template-columns: auto;
    gap: 10px 0;
    margin-top: 5px;
    border: 2px solid $colorMain2;
    border-radius: 8px;
    padding: 12px 15px;
    background: $colorBaseA;
  }

  &__title {
    @include font(ja, bold);
    color: $colorMain1;
  }

  &__title-icon {
    padding-right: 5px;
  }

  &__paragraph-bold {
    @include font(ja, bold);
  }

  &__insert {
    padding: 0 20px;
    @include mediaQuery() {
      padding: 0;
    }
  }
}

