<!DOCTYPE html>
<html lang="ja" prefix="og: http://ogp.me/ns#">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>元素の漢字周期表 - gensokanji</title>
  <meta name="description" content="元素の漢字周期表は、中国語での元素名を並べた漢字の元素周期表です。中国語圏では、化学元素の命名は漢字1字でなされ、部首で気体か金属かなどの性質を表します。そんな漢字だけでできた周期表を当サイトでお楽しみください。">
  <link rel="canonical" href="https://gensokanji.netlify.app/periodic-table">

  <!-- OGP -->
  <meta property="og:url" content="https://gensokanji.netlify.app/periodic-table">
  <meta property="og:type" content="article">
  <meta property="og:title" content="元素の漢字周期表 - gensokanji">
  <meta property="og:description" content="元素の漢字周期表は、中国語での元素名を並べた漢字の元素周期表です。そんな漢字だけでできた周期表を当サイトでお楽しみください。">
  <meta property="og:image" content="https://gensokanji.netlify.app/periodic-table/static/img/periodic_table.png">
  <meta property="og:site_name" content="gensokanji">
  <meta name="twitter:card" content="summary_large_image">
  <meta name="twitter:site" content="@gensokanji_bot">

  <!-- 外部のスクリプト・スタイルシート -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.js"></script>
  <script async charset="utf-8" src="https://platform.twitter.com/widgets.js"></script>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/destyle.css@3.0.0/destyle.css">

  <!-- Webフォント・アイコン -->
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Blinker:200,300|M+PLUS+Rounded+1c:300,500|Noto+Sans+TC:100:&display=swap">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.1/css/all.css">
  <script type="module" src="https://unpkg.com/ionicons@4.5.10-0/dist/ionicons/ionicons.esm.js"></script>
  <script nomodule="" src="https://unpkg.com/ionicons@4.5.10-0/dist/ionicons/ionicons.js"></script>
  <link rel="stylesheet" type="text/css" href="https://unpkg.com/webkul-micron@1.1.6/dist/css/micron.min.css">
  <script type="text/javascript" src="https://unpkg.com/webkul-micron@1.1.6/dist/script/micron.min.js"></script>

  <!-- ローカル -->
  <script defer src="static/js/lib/bodyScrollLock.js"></script>
  <script defer src="static/js/check_browser.js"></script>
  <script defer type="module" src="static/js/main.js"></script>
  <link rel="stylesheet" href="static/css/style.css">
</head>

<body>

  <div id="app">

    <header v-cloak class="header" :class="{'is-active': isNavOpened}">

      <div class="header__start">
        <div class="header__logo">
          <a href="https://gensokanji.netlify.app">gensokanji</a>
        </div>
        <div class="header__site">
          <i class="header__site-icon fas fa-location-arrow"></i>元素の漢字周期表
        </div>
      </div>

      <div class="header__end">
        <div class="header__share-container" :class="{'is-not-around-top': !isAroundTop}">
          <div class="header__share-label">SHARE</div>
          <div class="header__share-button-container">
            <a class="header__share-button" target="_blank" rel="noreferrer noopener" href="https://twitter.com/share?url=https://gensokanji.netlify.app/periodic-table&text=元素の漢字周期表%20-%20gensokanji%20@gensokanji_bot">
              <div class="header__share-icon-wrapper header__share-icon-wrapper--twitter">
                <i class="fab fa-twitter"></i>
              </div>
            </a>
            <a class="header__share-button" target="_blank" rel="noreferrer noopener" href="https://www.facebook.com/sharer/sharer.php?u=https://gensokanji.netlify.app/periodic-table">
              <div class="header__share-icon-wrapper header__share-icon-wrapper--facebook">
                <i class="fab fa-facebook"></i>
              </div>
            </a>
            <a class="header__share-button" target="_blank" rel="noreferrer noopener" href="https://social-plugins.line.me/lineit/share?url=https://gensokanji.netlify.app/periodic-table">
              <div class="header__share-icon-wrapper header__share-icon-wrapper--line">
                <i class="fab fa-line"></i>
              </div>
            </a>
          </div>
          <div class="header__top-button-wrapper header__top-button-wrapper--phone">
            <button
              type="button"
              :disabled="!isPhone || isAroundTop"
              class="header__top-button header__top-button--phone"
              @click="goToTop"
            >
              <i class="fas fa-angle-up"></i>
            </button>
          </div>
        </div>
        <button type="button" class="header__nav-open-button" @click="openNav">
          <span v-show="!isNavOpened">MORE</span>
          <span v-show="isNavOpened">CLOSE</span>
          <span>
            <i class="header__nav-open-button-icon fas fa-long-arrow-alt-down" :class="{'is-active': isNavOpened}"></i>
            <i class="header__nav-open-button-icon fas fa-list"></i>
          </span>
        </button>
        <div class="header__top-button-wrapper header__top-button-wrapper--pc" :class="{'is-not-around-top': !isAroundTop}">
          <button
            type="button"
            :disabled="isPhone || isAroundTop"
            class="header__top-button header__top-button--pc"
            @click="goToTop"
          >
            <i class="fas fa-angle-up"></i>
          </button>
        </div>
      </div>

    </header>

    <nav v-cloak class="nav" :class="{'is-active': isNavOpened}">

      <div class="nav__content">
        <section class="nav__section">
          <div class="nav__section-title">テーマカラー</div>
          <div class="nav__theme-color-changer">
            <div class="nav__theme-color-changer-button-wrapper">
              <button
                type="button"
                class="nav__theme-color-changer-button nav__theme-color-changer-button--wakaba"
                :disabled="!isNavOpened"
                @click="changeThemeColor('wakaba')"
              >
                わかば
              </button>
              <button
                type="button"
                class="nav__theme-color-changer-button nav__theme-color-changer-button--ramune"
                :disabled="!isNavOpened"
                @click="changeThemeColor('ramune')"
              >
                ラムネ
              </button>
              <button
                type="button"
                class="nav__theme-color-changer-button nav__theme-color-changer-button--momiji"
                :disabled="!isNavOpened"
                @click="changeThemeColor('momiji')"
              >
                もみじ
              </button>
            </div>
          </div>
        </section>
        <template v-for="navLinkSection in navLinkSectionList">
          <section class="nav__section">
            <div class="nav__section-title">
              {{ navLinkSection.title }}
            </div>
            <div class="nav__link-container">
              <a
                v-for="navLink in navLinkSection.links"
                class="nav__link"
                :href="navLink.href"
                target="_blank" rel="noreferrer noopener"
                :tabindex="isNavOpened ? 0 : -1"
              >
                <div class="nav__link-image-container">
                  <img class="nav__link-image" :src="navLink.src" :alt="navLink.alt">
                  <div class="nav__image-inset-shadow"></div>
                  <i
                    class="nav__image-external-link-icon fas fa-external-link-alt"
                    v-show="navLinkSection.title === '外部リンク'"
                  ></i>
                </div>
                <div class="nav__link-content">
                  <div class="nav__link-title">{{ navLink.title }}</div>
                  <div class="nav__link-desc">{{ navLink.desc }}</div>
                </div>
              </a>
            </div>
          </section>
        </template>
        <div class="nav__illustration">
          <img class="nav__illustration-image" src="static/img/demon_core.png" alt="デーモンコアのイラスト">
        </div>
      </div>

    </nav>

    <transition name="nav-back-">
      <div v-cloak class="nav-back" v-show="isNavOpened" @click="openNav"></div>
    </transition>

    <main v-cloak>

      <section class="main-app">

        <section ref="controlPanel" class="control-panel">

          <div class="control-panel__content-container">

            <div
              class="control-panel__content"
              :style="{'transform': 'translateY(' + (controlPanel.index * -controlPanel.height) + 'px)'}"
            >
              <div class="lang-changer" :class="{'is-overflow-hidden': isBodyScrollLocked}">
                <div class="lang-changer__button-container">
                  <template v-for="(langObj, langIndex) in langList">
                    <button
                      type="button"
                      class="lang-changer__button"
                      :class="[{'is-active-lang': langList[langIndex].isActive}]"
                      @click="setCurrentLang(langIndex)"
                      v-html="langObj.langName"
                    ></button>
                    <div class="lang-changer__separator" v-show="langIndex !== langList.length - 1"></div>
                  </template>
                </div>
              </div>
            </div>

            <div
              class="control-panel__content"
              :style="{'transform': 'translateY(' + (controlPanel.index * -controlPanel.height) + 'px)'}"
            >
              <div class="periodic-table-scaler">
                <input class="periodic-table-scaler__input-range" type="range" min="0.5" max="2" step="0.05" v-model="rangeValue">
                <span class="periodic-table-scaler__value-display" @click="defaultRange">{{ rangeValue + 'x' }}</span>
              </div>
            </div>

          </div>

          <div class="control-panel__button-container">
            <div class="control-panel__button" :class="{'is-disable': controlPanel.isStart}" @click="changeContents('prev')">
              <i class="fas fa-angle-up"></i>
            </div>
            <div class="control-panel__button" :class="{'is-disable': controlPanel.isEnd}" @click="changeContents('next')">
              <i class="fas fa-angle-down"></i>
            </div>
          </div>

          <div class="control-panel__title-wrapper" v-html="controlPanelTitleList[controlPanel.index]"></div>

        </section>

        <section
          class="periodic-table"
          :class="{'is-overflow-scroll': isPeriodicTableOverflow, 'is-overflow-hidden': isBodyScrollLocked}"
          :style="{'height': (periodicTableRect.height * rangeValue) + 'px'}"
        >

          <div
            ref="periodicTable"
            class="periodic-table__grid-container"
            :class="{'is-overflow-scroll': isPeriodicTableOverflow}"
            :style="{'transform': 'scale(' + rangeValue + ')'}"
          >
            <div class="table-guide">
              <div class="table-guide__category-container">
                <div v-for="categoryObj in categoryList" class="table-guide__category">
                  <div class="table-guide__category-icon" :class="categoryObj.categoryClass"></div>
                  <div>{{ categoryObj.categoryName }}</div>
                </div>
              </div>
            </div>
            <div v-for="(groupClass, num) in groupClassList" class="periodic-table__group-number" :class="groupClass">
              {{ num + 1 }}
            </div>
            <div v-for="(periodClass, num) in periodClassList" class="periodic-table__period-number" :class="periodClass">
              {{ num + 1 }}
            </div>
            <div
              v-for="(cell, cellIndex) in otherCellList"
              class="periodic-table__la-ac-wrapper"
              :class="cell.cellWrapperClass"
            >
              <div
                class="periodic-table__la-ac"
                :class="langList[current.langIndex].langClass"
              >
                <span v-html="cell[langList[current.langIndex].langKey]"></span>
              </div>
            </div>
            <div
              v-for="(element, elementIndex) in elementList"
              class="periodic-table__cell-wrapper"
              :class="[`periodic-table__cell-wrapper--cell-${element.elementSymbol}`, {'is-active': elementList[elementIndex].isActive}]"
              @click="openOverlay(elementIndex)"
            >
              <div
                class="periodic-table__cell"
                :class="[`periodic-table__cell--${element.categoryClass}`, langList[current.langIndex].langClass]"
              >
                <span
                  class="periodic-table__cell-text"
                  :class="[`periodic-table__cell-text--cell-${element.elementSymbol}`, langList[current.langIndex].langClass]"
                  v-html="element[langList[current.langIndex].langKey]"></span>
              </div>
            </div>
          </div>

        </section>

        <transition
          name="overlay-"
          @enter="enterFade"
          @before-enter="beforeEnterFade"
          @before-leave="beforeLeaveFade"
        >
          <section
            class="overlay"
            :class="`is-${elementList[current.elementIndex].categoryClass}`"
            v-show="isOverlayDisplayed"
          >
            <div class="overlay__main-wrapper" :class="{'is-overflow-hidden': !isBodyScrollLocked}">
              <div class="overlay__main">
                <div class="overlay__container overlay__container--base">
                  <div class="overlay__area overlay__area--element-symbol">
                    <div class="data-area data-area--element-symbol" :class="`is-${elementList[current.elementIndex].categoryClass}`">
                      <div
                        class="data-area__float data-area__float--state"
                      >
                        <img
                          class="data-area__state-image"
                          :class="`is-${elementList[current.elementIndex].categoryClass}`"
                          :src="elementList[current.elementIndex].stateSrc"
                        >
                      </div>
                      <div class="data-area__float data-area__float--radioactivity">
                        <img
                          class="data-area__radioactivity-image"
                          src="static/img/radioactivity.svg"
                          v-show="elementList[current.elementIndex].isRadioactive"
                        >
                      </div>
                      <div
                        class="data-area__content data-area__content--element-symbol"
                        v-html="elementList[current.elementIndex].elementSymbol"
                      ></div>
                    </div>
                  </div>
                  <div class="overlay__area overlay__area--atomic-number">
                    <data-area
                      name="atomic-number"
                      label="Z ="
                      :category-class="`is-${elementList[current.elementIndex].categoryClass}`"
                    >
                      {{ elementList[current.elementIndex].atomicNumber }}
                    </data-area>
                  </div>
                  <div class="overlay__area overlay__area--period">
                    <data-area
                      name="period"
                      label="Period"
                      :category-class="`is-${elementList[current.elementIndex].categoryClass}`"
                    >
                      {{ elementList[current.elementIndex].period }}
                    </data-area>
                  </div>
                  <div class="overlay__area overlay__area--group">
                    <data-area
                      name="group"
                      label="Group"
                      :category-class="`is-${elementList[current.elementIndex].categoryClass}`"
                    >
                      {{ elementList[current.elementIndex].group }}
                    </data-area>
                  </div>
                  <div class="overlay__area overlay__area--atomic-weight">
                    <data-area
                      name="atomic-weight"
                      label="A<sub>r</sub> ="
                      :category-class="`is-${elementList[current.elementIndex].categoryClass}`"
                    >
                      {{ elementList[current.elementIndex].atomicWeight }}
                    </data-area>
                  </div>
                  <div class="overlay__area overlay__area--category">
                    <data-area
                      name="category"
                      label="Category"
                      :category-class="`is-${elementList[current.elementIndex].categoryClass}`"
                    >
                      {{ elementList[current.elementIndex].category }}
                    </data-area>
                  </div>
                </div>
                <div class="overlay__container overlay__container--kanji">
                  <div class="overlay__area overlay__area--cn">
                    <data-area
                      name="cn"
                      label="Mainland China"
                      :category-class="`is-${elementList[current.elementIndex].categoryClass}`"
                    >
                      <div class="data-area__kanji-character data-area__kanji-character--cn">{{ elementList[current.elementIndex].simplifiedChinese }}</div>
                      <div class="data-area__kanji-code-point">U+{{ elementList[current.elementIndex].UnicodeCodePointCN }}</div>
                      <div
                        class="data-area__kanji-copy-button"
                        :class="`is-${elementList[current.elementIndex].categoryClass}`"
                        @click="copyToClipboard(elementList[current.elementIndex].simplifiedChinese)"
                        data-micron="swing" data-micron-bind="true" data-micron-id="fa-clipboard-sc"
                      ><i id="fa-clipboard-sc" class="fas fa-clipboard" data-micron="swing"></i></div>
                    </data-area>
                  </div>
                  <div class="overlay__area overlay__area--tw">
                    <data-area
                      name="tw"
                      label="Taiwan"
                      :category-class="`is-${elementList[current.elementIndex].categoryClass}`"
                    >
                      <div class="data-area__kanji-character data-area__kanji-character--tw">{{ elementList[current.elementIndex].taiwanTrad }}</div>
                      <div class="data-area__kanji-code-point">U+{{ elementList[current.elementIndex].UnicodeCodePointTW }}</div>
                      <div
                        class="data-area__kanji-copy-button"
                        :class="`is-${elementList[current.elementIndex].categoryClass}`"
                        @click="copyToClipboard(elementList[current.elementIndex].taiwanTrad)"
                        data-micron="swing" data-micron-bind="true" data-micron-id="fa-clipboard-tw"
                      ><i id="fa-clipboard-tw" class="fas fa-clipboard" data-micron="swing"></i></div>
                    </data-area>
                  </div>
                  <div class="overlay__area overlay__area--hk">
                    <data-area
                      name="hk"
                      label="Hong Kong"
                      :category-class="`is-${elementList[current.elementIndex].categoryClass}`"
                    >
                      <div class="data-area__kanji-character data-area__kanji-character--hk">{{ elementList[current.elementIndex].hongkongTrad }}</div>
                      <div class="data-area__kanji-code-point">U+{{ elementList[current.elementIndex].UnicodeCodePointHK }}</div>
                      <div
                        class="data-area__kanji-copy-button"
                        :class="`is-${elementList[current.elementIndex].categoryClass}`"
                        @click="copyToClipboard(elementList[current.elementIndex].hongkongTrad)"
                        data-micron="swing" data-micron-bind="true" data-micron-id="fa-clipboard-hk"
                      ><i id="fa-clipboard-hk" class="fas fa-clipboard" data-micron="swing"></i></div>
                    </data-area>
                  </div>
                </div>
                <div class="overlay__container overlay__container--reading">
                  <div class="overlay__area overlay__area--pinyin">
                    <data-area
                      name="pinyin"
                      label="<span>Pinyin</span><span>Mainland China</span>"
                      :category-class="`is-${elementList[current.elementIndex].categoryClass}`"
                    >
                      {{ elementList[current.elementIndex].pinyin }}
                    </data-area>
                  </div>
                  <div class="overlay__area overlay__area--bopomofo">
                    <data-area
                      name="bopomofo"
                      label="<span>Bopomofo</span><span>Taiwan</span>"
                      :category-class="`is-${elementList[current.elementIndex].categoryClass}`"
                    >
                      {{ elementList[current.elementIndex].bopomofo
                        + ' (' + elementList[current.elementIndex].taiwanPinyin + ')' }}
                    </data-area>
                  </div>
                </div>
                <div class="overlay__container overlay__container--name">
                  <div class="overlay__area overlay__area--japanese-name">
                    <data-area
                      name="japanese-name"
                      label="Japanese Name"
                      :category-class="`is-${elementList[current.elementIndex].categoryClass}`"
                    >
                      {{ elementList[current.elementIndex].japaneseName }}
                    </data-area>
                  </div>
                  <div class="overlay__area overlay__area--english-name">
                    <data-area
                      name="english-name"
                      label="English Name"
                      :category-class="`is-${elementList[current.elementIndex].categoryClass}`"
                    >
                      {{ elementList[current.elementIndex].englishName }}
                    </data-area>
                  </div>
                </div>
                <div class="overlay__container overlay__container--tweet">
                  <div class="overlay__area overlay__area--tweet">
                    <div class="data-area data-area--tweet" :class="`is-${elementList[current.elementIndex].categoryClass}`">
                      <div
                        ref="contAreaTweet"
                        class="data-area__content data-area__content--tweet"
                        v-html="elementList[current.elementIndex].twitterTweet"
                      ></div>
                    </div>
                  </div>
                </div>
                <div class="overlay__container overlay__container--close">
                  <div class="overlay__area overlay__area--close">
                    <div class="data-area data-area--close" :class="`is-${elementList[current.elementIndex].categoryClass}`">
                      <div class="data-area__content data-area__content--close" @click="closeOverlay">CLOSE</div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="overlay__close-button" @click="closeOverlay">
              <ion-icon class="overlay__close-button-icon" name="close-circle"></ion-icon>
            </div>
            <div class="overlay__container overlay__container--element-changer">
              <div class="overlay__area overlay__area--element-changer">
                <div class="data-area data-area--element-changer" :class="`is-${elementList[current.elementIndex].categoryClass}`">
                  <div class="data-area__content data-area__content--element-changer">
                    <span
                      class="data-area__element-changer-button"
                      :class="{'is-disabled': elementChangeButton.isStart}"
                      @click="changeOverlay('prev')"
                    >
                      <ion-icon class="data-area__element-changer-button-icon" name="arrow-back"></ion-icon>
                      <span class="data-area__element-changer-button-text">
                        <span class="data-area__element-changer-button-atomic-number">{{elementChangeButton.prev.atomicNumber}}</span>{{elementChangeButton.prev.elementSymbol}}
                      </span>
                    </span>
                    <span
                      class="data-area__element-changer-button"
                      :class="{'is-disabled': elementChangeButton.isEnd}"
                      @click="changeOverlay('next')"
                    >
                      <span class="data-area__element-changer-button-text">
                        <span class="data-area__element-changer-button-atomic-number">{{elementChangeButton.next.atomicNumber}}</span>{{elementChangeButton.next.elementSymbol}}
                      </span>
                      <ion-icon class="data-area__element-changer-button-icon" name="arrow-forward"></ion-icon>
                    </span>
                  </div>
                </div>
              </div>
            </div>
          </section>
        </transition>

      </section>

      <article>

        <common-section headline="元素の漢字周期表">
          <p class="section__paragraph">
            <span class="section__bold section__marker">元素の漢字周期表</span>は、<span class="section__bold">中国語での元素名</span>を並べた漢字の元素周期表です。
          </p>
          <p class="section__paragraph">
            中国語圏では、化学元素の命名は<span class="section__bold">漢字1字</span>でなされます。日本では新しい元素が発見された場合、発音からカタカナ表記にして命名しますが、中国や台湾、香港ではその元素を表す新たな漢字が作られるのです。
          </p>
          <p class="section__paragraph">
            元素好き、漢字好きとなれば自ずと見えてくるその接点、「<span class="section__bold section__marker">元素の漢字</span>」を、このサイトでより好きになっていただければ幸いです。
          </p>
        </common-section>

        <common-section headline="元素の漢字周期表の見方">
          <h2 class="section__headline-2">周期表の表示を切り替える</h2>
          <p class="section__paragraph">
            周期表上部にある<span class="section__bold section__marker">表示切り替え</span>では、周期表の表示内容を変えることができます。
          </p>
          <p class="section__paragraph">
            選択できるのは<span class="section__bold">大陸簡体</span>（中国大陸で使われる簡体字）、<span class="section__bold">台湾正体</span>（台湾で使われる繁体字）、<span class="section__bold">香港繁体</span>（香港で使われる繁体字）の3つの地域で使われる漢字に<span class="section__bold">原子番号</span>、<span class="section__bold">元素記号</span>、<span class="section__bold">日本語名</span>、<span class="section__bold">英語名</span>を加えた計7種類です。
          </p>
          <h2 class="section__headline-2">周期表を拡大・縮小して表示する</h2>
          <p class="section__paragraph">
            表示切り替えの右にある下ボタンを押すと<span class="section__bold section__marker">周期表の拡大・縮小</span>ができるスライドバーが表示されます。お使いのデバイスの画面サイズに合わせて調整してみてください（倍率が表示されているエリアを押すと倍率が1倍にリセットされます）。
          </p>
          <h2 class="section__headline-2">データページを見る</h2>
          <p class="section__paragraph">
            周期表のセルを押すと<span class="section__bold section__marker">データページ</span>がオーバーレイ表示され、元素の基本的なデータや漢字の情報を見ることができます。
          </p>
          <p class="section__paragraph">
            元素記号の後ろにうっすら見えているイラストは、その元素の常温での<span class="section__bold">状態や性質</span>を示しています（半金属の範囲は一例で、半減期が短い元素の状態は推定から独断と偏見で決めているのでご注意）。
          </p>
          <div class="section__insert">
            <div class="section__insert-diagram">
              <div class="state-image-legend">
                <div>
                  <img class="state-image-legend__image" src="static/img/gas.svg" alt="気体のイラスト">
                  <div>気体</div>
                </div>
                <div>
                  <img class="state-image-legend__image" src="static/img/liquid_metal.svg" alt="液体金属のイラスト">
                  <div>液体金属</div>
                </div>
                <div>
                  <img class="state-image-legend__image" src="static/img/liquid_non-metal.svg" alt="液体非金属のイラスト">
                  <div>液体非金属</div>
                </div>
                <div>
                  <img class="state-image-legend__image" src="static/img/solid_metal.svg" alt="固体金属のイラスト">
                  <div>固体金属</div>
                </div>
                <div>
                  <img class="state-image-legend__image" src="static/img/solid_metalloid.svg" alt="半金属のイラスト">
                  <div>半金属</div>
                </div>
                <div>
                  <img class="state-image-legend__image" src="static/img/solid_non-metal.svg" alt="固体非金属のイラスト">
                  <div>固体非金属</div>
                </div>
              </div>
            </div>
          </div>
        </common-section>

        <common-section headline="元素の漢字を眺める">
          <h2 class="section__headline-2">漢字の命名規則</h2>
          <p class="section__paragraph">
            元素の漢字は基本的に漢字の分類法である六書のうち、意符＋音符で作られる「<span class="section__bold">形声</span>」に従って命名されます。
          </p>
          <p class="section__paragraph">
            例えば、2016年に名称が決定した113番元素ニホニウムの漢字「<span class="section__kanji">鉨</span>」は、金属元素を表すかねへんを部首に、nihoniumの「ni」から、発音を表す「<span class="section__kanji">你</span> (nǐ)」などのつくり「<span class="section__kanji">尔</span>」を付して作られました。
          </p>
          <p class="section__paragraph">
            このように、ほとんどの漢字は英語（IUPAC名）の発音の一部をとった<span class="section__bold section__marker">音訳によって新たに作られた漢字</span>です。
          </p>
          <p class="section__paragraph">
            一方、一部には音訳ではない漢字も存在します。
          </p>
          <p class="section__paragraph">
            例えば、塩素の「<span class="section__kanji">氯</span>」です。きがまえに「<span class="section__kanji">彔</span>」ですが、この「<span class="section__kanji">彔</span>」は「<span class="section__kanji">綠</span>（＝緑）」から来ています。中国では塩素のことを緑色の気体という意味で「<span class="section__kanji">綠氣</span>」と呼んでいたようです。
          </p>
          <p class="section__paragraph">
            このような、<span class="section__bold section__marker">既存の呼び名から新たに作られた漢字</span>は、比較的原子番号の小さい元素に多く見られます。日本語において水素や酸素が欧米の発音のカタカナ転写ではないのと同じようなものです。
          </p>
          <p class="section__paragraph">
            そのほか、「<span class="section__kanji">鐵</span>」や「<span class="section__kanji">鉛</span>」、「<span class="section__kanji">硫</span>」などは、伝統的に使われてきた漢字を<span class="section__bold section__marker">化学元素を表すものとして転用した漢字</span>です。日本人でもそのまま読んでわかるのが特徴です。
          </p>
          <h2 class="section__headline-2">漢字の部首</h2>
          <p class="section__paragraph">
            元素の漢字の最たる特徴といえば、ずばり「<span class="section__bold section__marker">部首</span>」です。
          </p>
          <p class="section__paragraph">
            漢字の命名規則として、常温での<span class="section__bold">三態</span>（気体・液体・固体）と、<span class="section__bold">金属・非金属</span>によって以下の4つの部首いずれかに属すことが定められています。
          </p>
          <div class="section__insert">
            <table class="section__insert-table">
              <tr>
                <th>部首</th>
                <th>性質</th>
                <th>例</th>
              </tr>
              <tr>
                <td><span>气部</span></td>
                <td>気体</td>
                <td>
                  <span class="section__kanji">氫</span>、
                  <span class="section__kanji">氧</span>、
                  <span class="section__kanji">氯</span>、
                  <span class="section__kanji">氬</span>など
                </td>
              </tr>
              <tr>
                <td><span>水部</span></td>
                <td>液体</td>
                <td>
                  <span class="section__kanji">溴</span>、
                  <span class="section__kanji">汞</span>のみ
                </td>
              </tr>
              <tr>
                <td><span>石部</span></td>
                <td>固体非金属</td>
                <td>
                  <span class="section__kanji">硼</span>、
                  <span class="section__kanji">碳</span>、
                  <span class="section__kanji">硫</span>、
                  <span class="section__kanji">砷</span>など
                </td>
              </tr>
              <tr>
                <td><span>金部</span></td>
                <td>固体金属</td>
                <td>
                  <span class="section__kanji">鐵</span>、
                  <span class="section__kanji">鉛</span>、
                  <span class="section__kanji">鋰</span>、
                  <span class="section__kanji">鉨</span>など
                </td>
              </tr>
            </table>
            <span class="section__insert-caption">元素の漢字の部首</span>
          </div>
          <p class="section__paragraph">
            漢字を見ただけでその元素の性質がわかるのです。すごい！
          </p>
          <p class="section__paragraph">
            このような部首の決まりがあるので、例えば炭素の「<span class="section__kanji">碳</span>」は、普通なら<span class="section__kanji">鐵</span>などと同様に伝統的に使われてきた「炭」がそのまま転用されるところを、規則に従っていしへんを付して新しく漢字を作っています。
          </p>
          <p class="section__paragraph">ただし例外も存在します。もっとも、原子番号の大きい人工元素は放射性崩壊によって性質を確かめられる量を十分に用意することができないため、テネシンの「<span class="section__kanji">鿬</span>」やオガネソンの「<span class="section__kanji">鿫</span>」はそれぞれ石部、气部に属しますが、実際にそれらが非金属固体、気体であることが観察されたというわけではありません。</p>
          <h2 class="section__headline-2">漢字の地域差</h2>
          <p class="section__paragraph">
            基本的に中国大陸、香港、台湾では、簡体字・繁体字の差を除いても同じ漢字を使っていますが、一部は、繁簡の差を除いても<span class="section__bold section__marker">地域によって異なる漢字</span>を使っている元素が存在します。ほとんどの場合、この差は<span class="section__bold">中国大陸と台湾</span>の間に生じます。
          </p>
          <p class="section__paragraph">
            それらを見比べてみるとこんな感じになります。
          </p>
          <div class="section__insert">
            <table class="section__insert-table">
              <tr><th>日本語名</th><th>大陸簡体</th><th>台湾正体</th></tr>
              <tr><td>ケイ素</td><td><span class="section__kanji-cn">硅</span></td><td><span class="section__kanji-tw">矽</span></td></tr>
              <tr><td>テクネチウム</td><td><span class="section__kanji-cn">锝</span></td><td><span class="section__kanji-tw">鎝</span></td></tr>
              <tr><td>ルテチウム</td><td><span class="section__kanji-cn">镥</span></td><td><span class="section__kanji-tw">鎦</span></td></tr>
              <tr><td>アスタチン</td><td><span class="section__kanji-cn">砹</span></td><td><span class="section__kanji-tw">砈</span></td></tr>
              <tr><td>フランシウム</td><td><span class="section__kanji-cn">钫</span></td><td><span class="section__kanji-tw">鍅</span></td></tr>
              <tr><td>ネプツニウム</td><td><span class="section__kanji-cn">镎</span></td><td><span class="section__kanji-tw">錼</span></td></tr>
              <tr><td>プルトニウム</td><td><span class="section__kanji-cn">钚</span></td><td><span class="section__kanji-tw">鈽</span></td></tr>
              <tr><td>アメリシウム</td><td><span class="section__kanji-cn">镅</span></td><td><span class="section__kanji-tw">鋂</span></td></tr>
              <tr><td>バークリウム</td><td><span class="section__kanji-cn">锫</span></td><td><span class="section__kanji-tw">鉳</span></td></tr>
              <tr><td>カリホルニウム</td><td><span class="section__kanji-cn">锎</span></td><td><span class="section__kanji-tw">鉲</span></td></tr>
              <tr><td>アインスタイニウム</td><td><span class="section__kanji-cn">锿</span></td><td><span class="section__kanji-tw">鑀</span></td></tr>
            </table>
            <span class="section__insert-caption">中国大陸と台湾の元素の漢字の差異</span>
          </div>
          <p class="section__paragraph">これは、中国大陸と台湾で<span class="section__bold">元素を命名する機関が違う</span>ため生じています。しかし、この差異は大陸と台湾の交流が活発ではなかった時期の名残であり、現在は同じ漢字を決定するようになっています。</p>
          <p class="section__paragraph">一方、香港は台湾と同じ繁体字圏ですが、基本的には大陸の繁体字を使用しているようです。</p>
        </common-section>

        <common-section headline="外部リンク">
          <p class="section__paragraph">
            以下、参考にしたサイトの一部です。間違いや、より良い文献等がありましたらツイッターのbotアカウント（<a class="section__link-text" target="_blank" rel="noreferrer noopener" href="https://twitter.com/gensokanji_bot">@gensokanji_bot</a>）まで連絡していただけると助かりますm(_ _)m
          </p>
          <p class="section__paragraph">
            <a class="section__link-text section__system-font" target="_blank" rel="noreferrer noopener" href="https://baike.baidu.com/item/%E5%85%83%E7%B4%A0%E5%91%A8%E6%9C%9F%E8%A1%A8/282048">元素周期表（化学元素周期列表）_百度百科</a><i class="section__external-link-icon fas fa-external-link-alt"></i><br>大陸簡体の漢字と発音の参考にしました。
          </p>
          <p class="section__paragraph">
            <a class="section__link-text section__system-font" target="_blank" rel="noreferrer noopener" href="http://terms.naer.edu.tw/download/159/">國家教育研究院雙語詞彙、學術名詞暨辭書資訊網 - 下載專區 化學名詞-化學元素一覽表</a><i class="section__external-link-icon fas fa-external-link-alt"></i><br>台湾正体の漢字と発音の参考にしました。
          </p>
          <p class="section__paragraph">
            <a class="section__link-text section__system-font" target="_blank" rel="noreferrer noopener" href="https://zh.wikipedia.org/wiki/%E5%85%83%E7%B4%A0%E5%88%97%E8%A1%A8">元素列表 - 维基百科，自由的百科全书</a><i class="section__external-link-icon fas fa-external-link-alt"></i><br>香港繁体の漢字の参考にしました。
          </p>
          <p class="section__paragraph">
            <a class="section__link-text section__system-font" target="_blank" rel="noreferrer noopener" href="http://www.cnctst.cn/xwdt/mtgz/201705/t20170510_372222.html">国际在线：中国科学院公布四种新增元素中文名称----全国科学技术名词审定委员会</a><i class="section__external-link-icon fas fa-external-link-alt"></i><br>2016年に名称が決定した新元素4つの漢字の決定に関する記事です。
          </p>
        </common-section>

      </article>

    </main>

    <footer v-cloak class="footer">
      <div class="footer__content">
        <a
          href="https://twitter.com/gensokanji_bot?ref_src=twsrc%5Etfw"
          class="footer__twitter-follow-button twitter-follow-button"
          data-lang="en"
          data-size="large"
          data-show-count="true"
        >Follow @gensokanji_bot</a>
      </div>
      <div class="footer__content">元素の漢字周期表 v2.0.6</div>
      <div class="footer__content">© 2019 gensokanji</div>
    </footer>

    <div v-cloak class="popup-box" :class="{'is-active': popup.isDisplayed}" @click="clearPopup">
      <i class="popup-box__icon fas fa-info-circle"></i>{{ popup.message }}
    </div>

  </div>

  <div id="alertIE" class="alert-modal">
    <div class="alert-modal__window-wrapper">
      <div class="alert-modal__window">
        <div class="alert-modal__title">
          <span><i class="fas fa-info-circle"></i> 当サイトはInternet Explorerに対応しておりません</span>
        </div>
        <p class="alert-modal__paragraph">
          当サイトは運営者がIE対応を<span class="alert-modal__line-through">面倒くさがった</span>見送ったためIEでは閲覧できません。<br>
          今後の対応の可能性はありますが、閲覧はEdgeやChromeなどのモダンブラウザをお使いください。
        </p>
        <div class="alert-modal__close-button" onclick="closeAlertIEModal()">
          <ion-icon name="close"></ion-icon>
        </div>
      </div>
    </div>
  </div>

</body>

</html>
