/****** state-image-legend ******/
@use '@/assets/scss/global' as g;

.state-image-legend {
  display: grid;
  grid-template-rows: repeat(2, 1fr);
  grid-template-columns: repeat(3, 1fr);
  gap: 5px 15px;
  @include g.mediaQuery() {
    gap: 2px 10px;
  }

  &__figure {
    display: grid;
    grid-template-columns: auto;
    gap: 5px;
    @include g.mediaQuery() {
      gap: 2px;
    }
  }

  &__caption {
    text-align: center;
    white-space: nowrap;
  }

  &__image {
    width: 100%;
    border-radius: 5px;
    padding: 10px;
    object-fit: cover;
    background: g.$colorMain2;
  }
}
