/****** body ******/
body {
    font-family: $fontJP;
    font-weight: 300;
    font-size: 16px;
    color: $colorBlack;
    background: $colorBase;
    @include mediaQuery() {
        font-size: 15px;
    }
    a {
        color: $colorBlack;
        text-decoration: underline;
        transition: color .2s;
        &:hover {
            cursor: pointer;
            color: $colorBlackA;
        }
    }
}

p {
    line-height: 2;
    .del {
        text-decoration: line-through;
    }
}

/****** modal ******/
#alertIE {
    display: none;
}
.modal-wrapper {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    @include flexCentering();
    font-family: sans-serif;
    background: rgba(0, 0, 0, 0.9);
}
.modal-window {
    position: relative;
    padding: 40px;
    width: 440px;
    border-radius: 5px;
    color: $colorBlack;
    background: $colorWhite;
}
.modal-title {
    padding: 0 0 10px 0;
    font-size: 24px;
    font-weight: bold;
}
.modal-close {
    cursor: pointer;
    position: absolute;
    width: 36px;
    height: 36px;
    top: 5px;
    right: 5px;
    line-height: 1;
    font-size: 36px;
}


/****** footer ******/
footer {
    @include flexCentering();
    flex-direction: column;
    padding: 15px 0;
    background: $colorMainA;
    color: $colorWhite;
    a {
        color: $colorWhite;
        &:hover {
            color: $colorWhiteA;
        }
    }
    * {
        padding: 5px 0;
        text-align: center;
    }
    @include mediaQuery() {
        padding-bottom: 60px;
    }
}

/****** popup-box ******/
.popup-box {
    cursor: pointer;
    position: fixed;
    top: 0;
    left: 0;
    height: 40px;
    max-width: 400px;
    padding: 10px 10px 10px 50px;
    margin: 10px;
    @include flexCentering();
    background: $colorWhite;
    border: solid 2px $colorMain3;
    border-radius: 10px;
    transform: translateX(-150%);
    transition: transform .3s;
    @include mediaQuery() {
        padding: 5px 5px 5px 50px;
    }
    i {
        position: absolute;
        left: 0;
        padding: 10px;
        color: $colorMain3;
        font-size: 30px;
    }
    &.active {
        transform: translateX(0);
    }
}
