/****** body ******/
body {
    font-family: $fontJP;
    font-weight: 300;
    font-size: 16px;
    color: $colorBlack;
    background: $colorBase;
    @include mediaQuery() {
        font-size: 15px;
    }
    a {
        color: $colorBlack;
        text-decoration: underline;
        transition: color .2s;
        &:hover {
            cursor: pointer;
            color: $colorBlackA;
        }
    }
}
