$langNum: 7;
$langChangerWidth: 700px;
$langChangerHeight: 25px + 15px * 2 + 20px;

.changer-wrapper {
    position: sticky;
    position: -webkit-sticky;
    top: $headerHeight + 15px;
    width: $langChangerWidth;
    height: $langChangerHeight;
    margin: 0 auto 0;
    border: solid 2px $colorMain2;
    border-radius: 10px;
    background: $colorBaseA;
    overflow: hidden;
    @include mediaQuery() {
        top: $headerHeightPhone + 15px;
    }
    > div.contents {
        box-sizing: border-box;
        padding-left: 20px;
        padding-right: 40px;
        height: $langChangerHeight;
        flex-shrink: 0;
        transition: .3s;
    }
}
.changer-title {
    position: absolute;
    top: 5px;
    left: 13px;
    color: $colorMain2;
    @include mediaQuery() {
        top: 3px;
        left: 10px;
    }
    span {
        padding: 0 5px;
    }
}
.changer-button {
    position: absolute;
    top: 0px;
    right: 0px;
    height: $langChangerHeight;
    @include flexCentering();
    flex-direction: column;
    > div {
        cursor: pointer;
        width: 30px;
        height: math.div($langChangerHeight, 2);
        @include flexCentering();
        color: $colorWhiteA;
        font-size: 20px;
        background: $colorMain2;
        transition: background-color .3s;
        &.disable-changer-button {
            cursor: default;
            background: #d7dbdd;
        }
    }
}

/****** lang-changer ******/
.lang-changer {
    @include flexCentering();
    padding-top: 20px;
    overflow-x: visible;
}
.lang-changer ul {
    display: grid;
    grid-template-columns: repeat($langNum, auto auto) auto;
    list-style: none;
    padding: 0;
    white-space: nowrap;
}
.lang-changer li:nth-child(even) {
    position: relative;
    cursor: pointer;
    height: 25px;
    padding: 15px 10px;
    color: $colorBlackA;
    transition: .3s;
    &::after {
        content: "";
        position: absolute;
        left: 50%;
        bottom: 0;
        width: 0;
        height: 5px;
        background: transparent;
        transition: .5s;
    }
    &:hover {
        color: $colorBlack;
        &::after{
            left: 0;
            width: 100%;
            background: $colorMain2;
            transition: .3s;
        }
    }
    &.active-lang {
        color: $colorMain1;
        transition: 1s;
        &::after {
            content: "";
            position: absolute;
            left: 0;
            bottom: 0;
            width: 100%;
            height: 5px;
            background: $colorMain1;
            transition: 1s;
        }
    }
    &:last-child {
        display: none;
    }
}
.lang-changer li:nth-child(odd) {
    position: relative;
    @include flexCentering();
    width: 10px;
    &::after {
        position: absolute;
        content: "";
        width: 1px;
        height: 20px;
        background: $colorBlack;
    }
    &:first-child, &:last-child {
        display: none;
    }
}
@media(max-width: $langChangerWidth) {
    .changer-wrapper {
        margin: 0 10px;
        width: auto;
    }
    .lang-changer {
        @include flexCentering(flex-start, center);
        overflow-x: scroll;
        -webkit-overflow-scrolling: touch;
        ul {
            padding-right: 40px;
        }
    }
}

/****** mc-width-changer ******/
.mc-width-changer {
    padding-top: 20px;
    @include flexCentering();
    input[type="range"] {
        cursor: pointer;
        -webkit-appearance: none;
        vertical-align: middle;
        outline: none;
        border: none;
        padding: 0;
        background: none;
        width: 300px;
        // バー
        &::-webkit-slider-runnable-track {
            background-color: #d7dbdd; // 色1
            height: 6px;
            border-radius: 3px;
            border: 1px solid transparent;
        }
        &[disabled]::-webkit-slider-runnable-track {
            border: 1px solid #d7dbdd; // 色1
            background-color: transparent;
            opacity: 0.4;
        }
        &::-moz-range-track {
            background-color: #d7dbdd; // 色1
            height: 6px;
            border-radius: 3px;
            border: none;
        }
        &::-ms-track {
            color: transparent;
            border: none;
            background: none;
            height: 6px;
        }
        &::-ms-fill-lower {
            background-color: #d7dbdd; // 色1
            border-radius: 3px;
        }
        &::-ms-fill-upper {
            background-color: #d7dbdd; // 色1
            border-radius: 3px;
        }
        &::-ms-tooltip {
            display: none; /* display and visibility only */
        }
        // つまみ
        &::-moz-range-thumb {
            border-radius: 20px;
            height: 25px;
            width: 25px;
            border: none;
            background: none;
            background-color: $colorMain2; // 色2
        }
        &:active::-moz-range-thumb {
            outline: none;
        }
        &::-webkit-slider-thumb {
            -webkit-appearance: none !important;
            border-radius: 100%;
            background-color: $colorMain2; // 色2
            height: 25px;
            width: 25px;
            margin-top: -11px;
            border: none;
        }
        &[disabled]::-webkit-slider-thumb {
            background-color: transparent;
            border: 1px solid #d7dbdd; // 色1
        }
        &:active::-webkit-slider-thumb {
            outline: none;
        }
        &::-ms-thumb {
            border-radius: 100%;
            background-color: $colorMain2; // 色2
            height: 25px;
            width: 25px;
            border: none;
        }
        &:active::-ms-thumb {
            border: none;
        }
    }
    span {
        cursor: pointer;
        flex-shrink: 0;
        margin-left: 10px;
        padding: 2px;
        width: 50px;
        @include flexCentering();
        border: solid 2px $colorMain2;
        border-radius: 5px;
    }
}
