///////////////////////////////////////////
// コンテンツエリア、フロートエリアなどの設定
///////////////////////////////////////////

// エリア１：//////////////////////////
// 状態アイコンのフロートスタイル
.data-area__float.mod_state {
    grid-area: es-layer;
    @include flexCentering();
    padding: 10px;
    .data-area__state-image {
        width: 100%;
        max-width: 320px;
        opacity: 0.15;
        @include mediaQuery() {
            height: 150px;
        }
    }
}
.data-area__float.mod_state .data-area__state-image.tgl_category-h {
    opacity: 0.1;
}
// 放射線マークのフロートスタイル
.data-area__float.mod_radioactivity {
    grid-area: es-layer;
    @include flexCentering(flex-end, flex-start);
    padding: 15px 15px 0 0;
    font-size: 16px;
    img {
        width: 45px;
    }
}
// 元素記号のスタイル
.data-area__content.mod_element-symbol {
    grid-area: es-layer;
    padding: 0 0 20px 0;
    font-family: $fontEN;
    font-weight: 300;
    font-size: 165px;
    @include mediaQuery() {
        font-size: 130px;
    }
}
// 原子番号、周期、族のスタイル
.data-area__content.mod_atomic-weight,  // エリア４
.data-area__content.mod_atomic-num,
.data-area__content.mod_period,
.data-area__content.mod_group {
    @include flexCentering(flex-end, center);
    position: relative;
    top: -6px;
    padding: 0 10px;
    font-family: $fontEN;
    font-weight: 300;
    font-size: 45px;
    @include mediaQuery() {
        font-size: 35px;
    }
}

// エリア２：//////////////////////////
// 漢字のフォント
.data-area__content.mod_cn .data-area__kanji-character {
    font-family: $fontCN;
}
.data-area__content.mod_tw .data-area__kanji-character {
    font-family: $fontTW;
}
.data-area__content.mod_hk .data-area__kanji-character {
    font-family: $fontHK;
}
// 漢字のスタイル
.data-area__content.mod_cn,
.data-area__content.mod_tw,
.data-area__content.mod_hk {
    display: grid;
    grid-template-rows: auto auto;
    text-align: center;
    padding: 0 5px 25px;
    @include mediaQuery() {
        padding-bottom: 20px;
    }
    .data-area__kanji-character {
        font-size: 125px;
        @include mediaQuery() {
            font-size: 70px;
        }
    }
    .data-area__kanji-code-point {
        padding-top: 10px;
        font-family: $fontEN;
        font-weight: 200;
        font-size: 20px;
        opacity: 0.7;
        @include mediaQuery() {
            padding-top: 5px;
            font-size: 16px;
        }
    }
}

// エリア３：//////////////////////////
// 読みのスタイル
.data-area__content.mod_pinyin,
.data-area__content.mod_bopomofo {
    padding: 4px 7px 12px;
    white-space: nowrap;
    font-family: $fontPY;
    font-size: 20px;
}

// エリア４, エリア５：//////////////////////////
// グループ名と名称のスタイル
.data-area__content.mod_category,
.data-area__content.mod_japanese-name,
.data-area__content.mod_english-name {
    padding: 6px 7px 10px;
    font-size: 20px;
    @include mediaQuery() {
        font-size: 18px;
    }
}
.data-area__content.mod_japanese-name,
.data-area__content.mod_english-name {
    white-space: nowrap;
    @include mediaQuery($se) {
        white-space: normal;
    }
}
.data-area__content.mod_english-name {
    font-family: $fontEN;
    font-size: 22px;
    font-weight: 300;
    @include mediaQuery() {
        font-size: 20px;
    }
}

// エリア６：//////////////////////////
// 矢印ボタンのスタイル
.data-area__content.mod_element-changer {
    @include flexCentering(space-between, center);
}
.data-area__arrow-back,
.data-area__arrow-forward {
    @include flexCentering(flex-start, center);
    border: 0px solid #fff;
    border-radius: 3px;  // border-radius(5px) - border(2px)
    cursor: pointer;
    &:active {
        > * {
            transform: translateY(2px);
        }
    }
    // 切り替え先の元素記号
    span {
        font-family: $fontEN;
        font-size: 50px;
        @include mediaQuery() {
            font-size: 35px;
        }
        span {
            font-size: 30px;
            @include mediaQuery() {
                font-size: 20px;
            }
        }
    }
    // 矢印アイコン
    ion-icon {
        font-size: 70px;
    }
    &.tgl_disabled {
        pointer-events: none;
        > * {
            opacity: 0.4;
        }
    }
}

// エリア７：//////////////////////////
// ツイート埋め込みscript実行前
blockquote {
    @include flexCentering(flex-start, center);
    height: 500px;
    opacity: 0.7;
}
// twitter公式が吐くクラス
.twitter-tweet {
    grid-row: cont;
    max-width: 500px !important;
    margin: 0 !important;
    width: 100% !important;
}

// エリア８：//////////////////////////
// 閉じるボタンのスタイル
.data-area__content.mod_close {
    cursor: pointer;
    padding: 15px;
    font-family: $fontEN;
    font-size: 20px;
}
