/****** overlay ******/
$areaGap: 10px;
@use 'init' as *;

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transition: background-color 1s;
  z-index: 13;
  @each $category in $categoryList {
    $categoryColor: nth($categoryColorList2, index($categoryList, $category));
    &.is-category-#{$category} {
      background: #{$categoryColor};
    }
  }

  &__main-wrapper {
    position: relative;
    width: 100%;
    height: 100%;
    color: #fff;
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;
    &.is-overflow-hidden {
      overflow: hidden;
    }
  }

  &__main {
    padding: 80px 10% 90px;
    display: grid;
    grid-template-areas:
      'elm knj'
      'elm rdn'
      'elm nam'
      'twi twi'
      'cls cls';
    grid-template-rows: repeat(6, auto);
    grid-template-columns: 5fr 6fr;
    @include gridGap($areaGap, $areaGap);
    @include mediaQuery(1150px) {
      padding: 80px 50px 90px;
    }
    @include mediaQuery($tablet) {
      padding: 80px 50px 90px;
      grid-template-areas:
        'elm'
        'nam'
        'knj'
        'rdn'
        'twi'
        'cls';
      grid-template-rows: repeat(8, auto);
      grid-template-columns: auto;
    }
    @include mediaQuery() {
      padding: 80px 15px 90px;
    }

    * {
      line-height: 100%;
    }
  }

  &__close-button {
    @include flexCentering();
    position: fixed;
    top: 20px;
    right: 50px;
    width: 50px;
    height: 50px;
    cursor: pointer;
    transition: 0.3s;
    z-index: 14;
    &:hover {
      transform: scale(1.1);
    }
    @include mediaQuery() {
      right: 20px;
    }
  }

  &__close-button-icon {
    font-size: 50px;
    color: rgba(255, 255, 255, 0.9);
    filter: drop-shadow(0 0 10px rgba(0, 0, 0, 0.7));
  }

  &__container {
    &.mod_base {
      grid-area: elm;
      display: grid;
      grid-template-areas:
        'es an'
        'es pr'
        'es gr'
        'ca aw';
      grid-template-rows: repeat(4, 1fr);
      grid-template-columns: 2fr 1fr;
      @include gridGap($areaGap, $areaGap);
      @include mediaQuery() {
        grid-template-areas:
          'es es es'
          'an pr gr'
          'ca ca aw';
        grid-template-rows: auto 1fr 1fr;
        grid-template-columns: repeat(3, 1fr);
      }
    }
    &.mod_kanji {
      grid-area: knj;
      display: grid;
      grid-template-areas: 'cn tw hk';
      grid-template-rows: 1fr;
      grid-template-columns: repeat(3, 1fr);
      @include gridGap($areaGap, $areaGap);
    }
    &.mod_reading {
      grid-area: rdn;
      display: grid;
      grid-template-areas: 'py bp';
      grid-template-rows: auto;
      grid-template-columns: repeat(2, 1fr);
      @include gridGap($areaGap, $areaGap);
    }
    &.mod_name {
      grid-area: nam;
      display: grid;
      grid-template-areas: 'ja en';
      grid-template-rows: auto;
      grid-template-columns: repeat(2, 1fr);
      @include gridGap($areaGap, $areaGap);
      @include mediaQuery($se) {
        grid-template-columns: repeat(2, auto);
      }
    }
    &.mod_tweet {
      grid-area: twi;
    }
    &.mod_close {
      grid-area: cls;
    }
    &.mod_element-changer {
      position: fixed;
      box-sizing: border-box;
      left: 0;
      bottom: 20px;
      padding: 0 20%;
      width: 100%;
      height: 70px;
      z-index: 14;
      @include mediaQuery($tablet) {
        padding: 0 50px;
      }
      @include mediaQuery() {
        padding: 0 15px;
      }
    }
  }

  &__area {
    &.mod_element-symbol {
      grid-area: es;
    }
    &.mod_atomic-num {
      grid-area: an;
    }
    &.mod_period {
      grid-area: pr;
    }
    &.mod_group {
      grid-area: gr;
    }
    &.mod_category {
      grid-area: ca;
    }
    &.mod_atomic-weight {
      grid-area: aw;
    }
    &.mod_cn {
      grid-area: cn;
    }
    &.mod_tw {
      grid-area: tw;
    }
    &.mod_hk {
      grid-area: hk;
    }
    &.mod_pinyin {
      grid-area: py;
    }
    &.mod_bopomofo {
      grid-area: bp;
    }
    &.mod_japanese-name {
      grid-area: ja;
    }
    &.mod_english-name {
      grid-area: en;
    }
  }
}
