/****** alert-modal ******/
@use 'global' as g;

.alert-modal {
  display: none;
  position: relative;
  z-index: 1000;

  &__background {
    @include g.flexCentering();
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background: rgba(0, 0, 0, 0.9);
  }

  &__window {
    position: relative;
    width: 470px;
    border-radius: 10px;
    padding: 40px;
    @include g.font(user);
    color: g.$colorBlack;
    background: g.$colorWhite;
  }

  &__title {
    @include g.flexCentering();
    padding-bottom: 15px;
    font-weight: bold;
    font-size: 24px;
  }

  &__paragraph {
    line-height: 1.7;
  }

  &__aa-wrapper {
    @include g.flexCentering();
    padding-top: 10px;
  }

  &__aa {
    white-space: pre;
    @include g.font(aa);
    font-size: 16px;
    line-height: 18px;
  }

  &__close-button {
    cursor: pointer;
    position: absolute;
    top: 5px;
    right: 10px;
    font-size: 35px;
  }
}
