/****** periodic-table ******/
@use 'sass:math';
@use 'global' as *;

$expandTime: 0.2s;

.bottom-fixed-area {
  @include flexCentering(center, flex-end);
  position: fixed;
  right: 0;
  bottom: 20px;
  padding-right: 20px;
  color: $colorWhite;
  z-index: 100;
  @include mediaQuery() {
    bottom: 10px;
    padding-right: 10px;
  }
  &--enter-active,
  &--leave-active {
    transform-origin: right bottom;
    transition-property: opacity, transform;
    transition-duration: 0.2s;
  }
  &--enter,
  &--leave-to {
    opacity: 0;
    transform: scale(0.7) translate(5px, 5px);
  }

  &__share-button-container {
    display: none;
    position: relative;
    margin-right: 5px;
    width: 40px;
    height: 40px;
    @include mediaQuery() {
      @include flexCentering();
    }
  }

  &__share-button-wrapper {
    @include flexCentering();
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
  }

  &__share-expand-button {
    @include flexCentering();
    width: 40px;
    height: 40px;
    border: 2px solid $colorMain3;
    border-radius: 50%;
    padding-right: 3px;
    font-size: 20px;
    color: $colorMain3;
    background: $colorWhite;
    transition-property: border-color, color, background-color;
    transition-duration: $expandTime;
    &.is-expanded {
      border-color: $colorWhiteA;
      color: $colorWhite;
      background: $colorMain3;
    }
  }

  &__share-button {
    @include flexCentering();
    width: 40px;
    height: 40px;
    border: 2px solid $colorWhiteA;
    border-radius: 50%;
    font-size: 20px;
    opacity: 0;
    transition-property: transform, opacity;
    transition-duration: $expandTime;
    &--twitter {
      background: $colorTwitter;
      &.is-expanded {
        opacity: 1;
        transform: scale(1) translate(-60px * math.cos(0deg), -60px * math.sin(0deg));
      }
    }
    &--facebook {
      background: $colorFacebook;
      &.is-expanded {
        opacity: 1;
        transform: scale(1) translate(-60px * math.cos(45deg), -60px * math.sin(45deg));
      }
    }
    &--line {
      background: $colorLINE;
      &.is-expanded {
        opacity: 1;
        transform: scale(1) translate(-60px * math.cos(90deg), -60px * math.sin(90deg));
      }
    }
  }

  &__top-button {
    cursor: pointer;
    @include flexCentering();
    width: 50px;
    height: 50px;
    border: 2px solid $colorWhiteA;
    border-radius: 50%;
    padding-bottom: 3px;
    font-size: 30px;
    background: $colorMain3;
    transition: transform 0.2s;
    @include mediaQuery() {
      width: 45px;
      height: 45px;
    }
    &:hover {
      transform: scale(1.1);
      @include mediaQuery() {
        transform: none;
      }
    }
  }
}
