/****** control-panel ******/
@use 'global' as *;

$controlPanelHeight: 90px;
$controlPanelTabHeight: 28px;
$controlPanelBorderRadius: 8px;

.control-panel {
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: $controlPanelTabHeight auto;
  position: sticky;
  top: $headerHeight;
  margin: 0 auto;
  border: 2px solid $colorMain2;
  border-radius: $controlPanelBorderRadius;
  width: $controlPanelWidth;
  height: $controlPanelHeight;
  z-index: 100;
  @include mediaQuery($controlPanelWidth) {
    margin: 0 10px;
    width: auto;
  }
  @include mediaQuery() {
    top: $headerHeightPhone;
  }

  &__tab-container {
    display: flex;
    overflow: hidden;
    border-radius:
      $controlPanelBorderRadius - 2px $controlPanelBorderRadius - 2px 0 0;
    z-index: 101;
  }

  &__tab-button-container {
    flex: 1;
    display: flex;
    position: relative;
    overflow-x: auto;
    overflow-y: hidden;
  }

  &__tab {
    @include flexCentering();
    height: 100%;
    padding: 0 10px;
    white-space: nowrap;
    font-size: 14px;
    color: $colorWhite;
    background: $colormain2Light;
    transition-property: color, background-color;
    transition-duration: 0.2s;
    &.is-active {
      color: $colorMain2;
      background: $colorBaseA;
    }
    &--left-end {
      width: 10px;
      padding: 0;
      background: $colorMain2;
    }
    &--right-end {
      width: 35px;
      padding: 0;
      font-size: 15px;
      background: $colorMain1;
    }
  }

  &__tab-separator {
    width: 2px;
    background: $colorMain2;
  }

  &__tab-spacer {
    flex-grow: 1;
    background: $colorMain2;
  }

  &__content-container {
    position: relative;
    overflow: visible;
    border-radius:
      0 0 $controlPanelBorderRadius - 2px $controlPanelBorderRadius - 2px;
    background: $colorBaseA;
  }

  &__content {
    position: absolute;
    width: 100%;
    height: 100%;
    &--enter-active {
      transition-property: opacity, transform;
      transition-duration: 0.2s;
      transition-delay: 0.05s;
    }
    &--leave-active {
      transition-property: opacity, transform;
      transition-duration: 0.2s;
    }
    &--enter,
    &--leave-to {
      opacity: 0;
      transform: translateY(-3px);
    }

    > div {
      /*
        overflowの扱いはcontrol-panelに依存する直下の個々のコンテンツに任せているため、
        その輪郭を指定するborderは親であるcontrol-panelに依存して指定したほうが
        構造の把握が容易。
      */
      border-radius:
        0 0 $controlPanelBorderRadius - 2px $controlPanelBorderRadius - 2px;
    }
  }
}
