/****** element-search ******/
@use 'global' as g;

$inputHeight: 28px;

.element-search {
  @include g.flexCentering();
  position: relative;
  overflow: visible;
  height: 100%;
  padding: 0 20px;

  &__container {
    @include g.flexCentering();
    width: 100%;
  }

  &__select-wrapper {
    flex: none;
    position: relative;
  }

  &__select {
    width: 100px;
    height: $inputHeight;
    border: 2px solid g.$colorMain2;
    border-radius: 2px;
    padding: 0 20px 0 5px;
    background: g.$colorWhite;
  }

  &__select-icon {
    @include g.flexCentering();
    pointer-events: none;
    position: absolute;
    top: 50%;
    right: 2px;
    width: 20px;
    height: 20px;
    font-size: 13px;
    transform: translateY(-50%);
  }

  &__input-wrapper {
    position: relative;
    margin-left: 20px;
    width: 100%;
    @include g.mediaQuery() {
      margin-left: 10px;
    }
  }

  &__input {
    width: 100%;
    height: $inputHeight;
    border: 2px solid g.$colorMain2;
    border-radius: 2px;
    padding: 0 23px 0 10px;
    background: g.$colorWhite;
    transition: border-color 0.2s;
    &:focus {
      border-color: g.$colorMain1;
    }
  }

  &__input-reset-button {
    @include g.flexCentering();
    position: absolute;
    top: 50%;
    right: 3px;
    width: 20px;
    height: 20px;
    transform: translateY(-50%);
  }

  &__result-container {
    margin-left: 20px;
    width: 100%;
    height: $inputHeight;
    background: none;
    @include g.mediaQuery() {
      position: absolute;
      right: 20px;
      top: calc(100% - 13px);
      width: 75%;
      height: auto;
      border: 2px solid g.$colorLightGray;
      border-radius: 3px;
      background: g.$colorWhite;
    }
  }

  &__result-bar {
    @include g.flexCentering(flex-start, center);
    height: 100%;
    @include g.mediaQuery() {
      height: 30px;
      padding: 0 10px;
    }
  }

  &__result-bar-button {
    @include g.flexCentering();
    height: 100%;
    padding-left: 5px;
    font-size: 20px;
    color: g.$colorMain2;
    @include g.mediaQuery() {
      font-size: 18px;
    }
  }

  &__result-list {
    display: grid;
    grid-template-columns: auto;
    gap: 5px 0;
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
    width: 100%;
    max-height: 200px;
    border: 2px solid g.$colorLightGray;
    border-radius: 3px;
    padding: 10px;
    background: g.$colorWhite;
    @include g.mediaQuery() {
      border: none;
      padding: 5px 10px 10px;
    }
  }

  &__result-separator {
    width: 100%;
    height: 1px;
    background: g.$colorLightGray;
  }

  &__result-item-button {
    width: 100%;
    min-height: 25px;
    transition: background 0.2s;
    &:active {
      background: #0001;
    }
  }

  &__result-type-tag {
    display: inline-block;
    margin-right: 5px;
    border-radius: 2px;
    padding: 2px 3px;
    white-space: nowrap;
    vertical-align: top;
    font-size: 12px;
    &--atomic-number {
      background: coral;
      color: g.$colorWhite;
    }
    &--element-symbol {
      background: darkcyan;
      color: g.$colorWhite;
    }
    &--simplified-chinese {
      background: #ee1c25;
      color: g.$colorWhite;
    }
    &--taiwan-trad {
      background: #0029CC;
      color: g.$colorWhite;
    }
    &--hongkong-trad {
      background: #cf142b;
      color: g.$colorWhite;
    }
    &--japanese-name {
      background: #e8e8e8;
      color: g.$colorBlack;
    }
    &--english-name {
      background: #00247d;
      color: g.$colorWhite;
    }
  }
}