/****** footer ******/
@use 'global' as *;

.footer {
  @include flexCentering();
  flex-direction: column;
  padding: 15px 0;
  background: $colorMainGrad;
  color: $colorWhite;
  @include mediaQuery() {
    padding-bottom: 60px;
  }

  &__twitter-follow-button {
    color: $colorWhite;
    &:hover {
        color: $colorWhiteA;
    }
  }

  &__content {
    padding: 5px 0;
    text-align: center;
  }
}
