/****** header ******/
@use 'global' as *;

.header {
  height: $headerHeight;
  @include mediaQuery() {
    height: $headerHeightPhone;
  }

  &__fixed-container {
    position: fixed;
    width: 100%;
    height: $headerFixedContainerHeight;
    color: $colorWhite;
    background: $colorMainGrad;
    z-index: 202;
    @include mediaQuery() {
      height: $headerFixedContainerHeightPhone;
    }
    &::before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: #2e245e4d;
      opacity: 0;
      transition: opacity $navOpenTime;
    }
    &.is-active::before {
      opacity: 1;
    }
  }

  &__start {
    position: absolute;
    top: 2px;
    left: 30px;
    height: 100%;
    @include mediaQuery() {
      top: 0;
      left: 15px;
    }
  }

  &__logo {
    cursor: pointer;
    @include font(en);
    font-size: 40px;
    @include mediaQuery() {
      font-size: 35px;
    }
  }

  &__site {
    padding-left: 20px;
    @include mediaQuery() {
      display: none;
    }
  }

  &__site-icon {
    padding-right: 5px;
  }

  &__end {
    @include flexCentering();
    position: absolute;
    top: 0;
    right: 40px;
    height: 100%;
    @include mediaQuery() {
      right: 10px;
    }
  }

  &__share-container {
    @include flexCentering();
    flex-direction: column;
    @include mediaQuery() {
      @include flexCentering(center, flex-end);
      flex-direction: row;
      position: fixed;
      right: 0;
      bottom: 10px;
      padding-right: 10px;
      transform: translateX(150%);
      transition: transform 0.7s;
      &.is-not-around-top {
        @include mediaQuery() {
          transform: translateX(0);
        }
      }
    }
  }

  &__share-label {
    @include font(en);
    font-size: 20px;
    @include mediaQuery() {
      display: none;
    }
  }

  &__share-button-container {
    @include flexCentering();
  }

  &__top-button-wrapper {
    &--pc {
      position: fixed;
      right: 0;
      bottom: 25px;
      padding-right: 25px;
      transform: translateX(150%);
      transition: transform 0.7s;
      &.is-not-around-top {
        transform: translateX(0);
      }
    }
  }

  &__top-button {
    @include flexCentering();
    cursor: pointer;
    border: solid 2px $colorWhiteA;
    border-radius: 50%;
    padding-bottom: 3px;
    font-size: 30px;
    background: $colorMain3;
    &--phone {
      display: none;
      margin-left: 5px;
      width: 45px;
      height: 45px;
      @include mediaQuery() {
        display: flex;
      }
    }
    &--pc {
      width: 50px;
      height: 50px;
      transition: transform 0.2s;
      @include mediaQuery() {
        display: none;
      }
      &:hover {
        transform: scale(1.1);
      }
    }
  }

  &__share-button {
    margin: 0 4px;
    @include mediaQuery() {
      margin: 0 2px;
    }
  }

  &__share-icon-wrapper {
    @include flexCentering();
    width: 35px;
    height: 35px;
    border: 2px solid $colorWhiteA;
    border-radius: 50%;
    font-size: 20px;
    transition: background-color 0.2s;
    &--twitter {
      @include mediaQuery() {
        background: $colorTwitter;
      }
      &:hover {
        background: $colorTwitter;
      }
    }
    &--facebook {
      @include mediaQuery() {
        background: $colorFacebook;
      }
      &:hover {
        background: $colorFacebook;
      }
    }
    &--line {
      @include mediaQuery() {
        background: $colorLINE;
      }
      &:hover {
        background: $colorLINE;
      }
    }
  }

  &__nav-open-button {
    @include flexCentering();
    cursor: pointer;
    flex-direction: column;
    margin-left: 10px;
    width: 85px;
    height: 55px;
    border: 2px solid $colorWhiteA;
    border-radius: 5px;
    padding-bottom: 2px;
    @include font(en);
    font-size: 20px;
    transition: background-color 0.2s;
    @include mediaQuery() {
      width: 52px;
      height: 40px;
      font-size: 16px;
      line-height: 1;
    }
    &:hover {
      background: #fff3;
    }
  }

  &__nav-open-button-icon {
    font-size: 22px;
    transition: transform $navOpenTime;
    @include mediaQuery() {
      font-size: 16px;
    }
    &.is-active {
      transform: rotateX(0.5turn);
    }
  }
}
