/****** nav-back ******/
@use 'global/init' as *;

.nav-back {
  display: none;
  position: fixed;
  top: 0;
  z-index: 200;
  &.is-active {
    display: block;
    cursor: pointer;
    background: rgba(0, 0, 0, 0.5);
    width: 100%;
    height: 100%;
  }
}