/****** overlay ******/
@use 'global' as *;

$areaGap: 10px;

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  transition: background-color 1s;
  z-index: 300;
  @each $category in $categoryList {
    $categoryColor: nth($categoryColorList2, index($categoryList, $category));
    &.is-category-#{$category} {
      background: #{$categoryColor};
    }
  }
  &--enter-active {
    transition: opacity 0.5s 0.3s;
  }
  &--leave-active {
    transition: opacity 0.5s;
  }
  &--enter,
  &--leave-to {
    opacity: 0;
  }

  &__main-wrapper {
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;
    width: 100%;
    height: 100%;
    &.is-overflow-hidden {
      overflow: hidden;
    }
  }

  &__main {
    display: grid;
    grid-template-areas:
      'base  kanji'
      'base  reading'
      'base  name'
      'tweet tweet'
      'close close';
    grid-template-rows: repeat(6, auto);
    grid-template-columns: 5fr 6fr;
    gap: $areaGap;
    padding: 80px 10% 90px;
    @include mediaQuery(1150px) {
      padding: 80px 50px 90px;
    }
    @include mediaQuery($tablet) {
      grid-template-areas:
        'base'
        'name'
        'kanji'
        'reading'
        'tweet'
        'close';
      grid-template-rows: repeat(8, auto);
      grid-template-columns: auto;
      padding: 80px 50px 90px;
    }
    @include mediaQuery() {
      padding: 80px 15px 90px;
    }
  }

  &__container-base {
    grid-area: base;
    display: grid;
    grid-template-areas:
      'es an'
      'es pr'
      'es gr'
      'ca aw';
    grid-template-rows: repeat(4, 1fr);
    grid-template-columns: 2fr 1fr;
    gap: $areaGap;
    @include mediaQuery() {
      grid-template-areas:
        'es es es'
        'an pr gr'
        'ca ca aw';
      grid-template-rows: auto 1fr 1fr;
      grid-template-columns: repeat(3, 1fr);
    }
  }

  &__container-kanji {
    grid-area: kanji;
    display: grid;
    grid-template-areas: 'cn tw hk';
    grid-template-rows: 1fr;
    grid-template-columns: repeat(3, 1fr);
    gap: $areaGap;
  }

  &__container-reading {
    grid-area: reading;
    display: grid;
    grid-template-areas: 'py bp';
    grid-template-rows: auto;
    grid-template-columns: repeat(2, 1fr);
    gap: $areaGap;
  }

  &__container-name {
    grid-area: name;
    display: grid;
    grid-template-areas: 'ja en';
    grid-template-rows: auto;
    grid-template-columns: repeat(2, 1fr);
    gap: $areaGap;
    @include mediaQuery($se) {
      grid-template-columns: repeat(2, auto);
    }
  }

  &__container-tweet {
    grid-area: tweet;
  }

  &__container-close {
    grid-area: close;
  }

  &__container-element-changer {
    position: absolute;
    left: 0;
    bottom: 20px;
    width: 100%;
    height: 70px;
    padding: 0 20%;
    z-index: 301;
    @include mediaQuery($tablet) {
      padding: 0 50px;
    }
    @include mediaQuery() {
      padding: 0 15px;
    }
  }

  &__area {
    &--element-symbol {
      grid-area: es;
    }
    &--category {
      grid-area: ca;
    }
    &--atomic-number {
      grid-area: an;
    }
    &--period {
      grid-area: pr;
    }
    &--group {
      grid-area: gr;
    }
    &--atomic-weight {
      grid-area: aw;
    }
    &--cn {
      grid-area: cn;
    }
    &--tw {
      grid-area: tw;
    }
    &--hk {
      grid-area: hk;
    }
    &--pinyin {
      grid-area: py;
    }
    &--bopomofo {
      grid-area: bp;
    }
    &--japanese-name {
      grid-area: ja;
    }
    &--english-name {
      grid-area: en;
    }
  }

  &__close-button {
    cursor: pointer;
    @include flexCentering();
    position: absolute;
    top: 20px;
    right: 50px;
    width: 50px;
    height: 50px;
    transition: 0.3s;
    z-index: 301;
    &:hover {
      transform: scale(1.1);
    }
    @include mediaQuery() {
      right: 20px;
    }
  }

  &__close-button-icon {
    font-size: 50px;
    color: #ffffffcc;
    filter: drop-shadow(0 0 10px #000000aa);
  }
}
