
/****** periodic-table-scaler ******/
@use 'sass:math';
@use 'global' as *;

$trackColor: $colorLightGray;
$trackHeight: 6px;
$trackBorderRadius: 3px;
$thumbSize: 25px;

.periodic-table-scaler {
  @include flexCentering();
  height: 100%;
  padding: 0 20px;

  &__input-range {
    cursor: pointer;
    width: 300px;
    &[disabled] {
      cursor: default;
    }
    // トラック
    &::-webkit-slider-runnable-track {
      height: $trackHeight;
      border-radius: $trackBorderRadius;
      background: $trackColor;
    }
    &::-moz-range-track {
      height: $trackHeight;
      border-radius: $trackBorderRadius;
      background: $trackColor;
    }
    // つまみ
    &::-webkit-slider-thumb {
      appearance: none;
      height: $thumbSize;
      width: $thumbSize;
      border: none;
      border-radius: 50%;
      background: $colorMain2;
      transform: translateY(math.div($trackHeight - $thumbSize, 2));
    }
    &::-moz-range-thumb {
      height: $thumbSize;
      width: $thumbSize;
      border: none;
      border-radius: 50%;
      background: $colorMain2;
    }
  }

  &__value-display {
    cursor: pointer;
    flex-shrink: 0;
    @include flexCentering();
    margin-left: 20px;
    width: 60px;
    height: 35px;
    border: solid 2px $colorMain2;
    border-radius: 5px;
  }
}
