/****** popup-box ******/
@use 'global/init' as *;

.popup-box {
  cursor: pointer;
  position: fixed;
  top: 0;
  left: 0;
  height: 40px;
  max-width: 400px;
  padding: 10px 10px 10px 50px;
  margin: 10px;
  @include flexCentering();
  background: $colorWhite;
  border: solid 2px $colorMain3;
  border-radius: 10px;
  transform: translateX(-150%);
  transition: transform 0.3s;
  z-index: 301;
  @include mediaQuery() {
    padding: 5px 5px 5px 50px;
  }
  &.is-active {
    transform: translateX(0);
  }

  &__icon {
    position: absolute;
    left: 0;
    padding: 10px;
    color: $colorMain3;
    font-size: 30px;
  }
}
