/****** popup-box ******/
@use 'global' as g;

.popup-box {
  position: fixed;
  top: 10px;
  left: 10px;
  pointer-events: none;
  z-index: 301;
  &--leave-active {
    position: absolute;
  }
  &--enter,
  &--leave-to {
    opacity: 0;
    transform: translateX(-10px);
  }

  &__item-wrapper {
    display: flex;
    width: 300px;
    transition-property: opacity, transform;
    transition-duration: 0.3s;
  }

  &__item {
    @include g.flexCentering();
    pointer-events: auto;
    cursor: pointer;
    margin-bottom: 5px;
    border-radius: 10px;
    border: 2px solid g.$colorMain3;
    padding: 15px 20px;
    background: g.$colorWhite;
    @include g.mediaQuery() {
      padding: 12px 17px;
    }
  }

  &__icon {
    padding-right: 10px;
    font-size: 25px;
    color: g.$colorMain3;
  }
}
