/****** popup-box ******/
@use 'global' as g;

.popup-box {
  cursor: pointer;
  @include g.flexCentering();
  position: fixed;
  top: 10px;
  left: 10px;
  max-width: 300px;
  border-radius: 10px;
  border: 2px solid g.$colorMain3;
  padding: 15px 20px;
  background: g.$colorWhite;
  z-index: 301;
  @include g.mediaQuery() {
    padding: 12px 17px;
  }
  &--enter-active,
  &--leave-active {
    transition: opacity 0.3s, transform 0.3s;
  }
  &--enter,
  &--leave-to {
    opacity: 0;
    transform: translateX(-10px);
  }

  &__icon {
    padding-right: 10px;
    font-size: 25px;
    color: g.$colorMain3;
  }
}
